<div class="weatherWidget row">
    {{#each partials.weatherContext.locations}}
        <div class="location col-md-4">
            <h3>{{name}}</h3>
            <a href="{{forecastUrl}}">
                <img src="{{iconUrl}}" alt="{{weather}}"> {{weather}}, {{temp}}
            </a>
        </div>
    {{/each}}
</div>
<small>Источник: <a href="http://www.wunderground.com">Weather Underground</a></small>